@media (max-width:700px){
  

    section{
        margin-top: 20px;
        width: 380px;
        height: 530px;
        align-items: center;
        text-align: center;
    }

    section h2{
        padding: 0px 6px;
    }

    img{margin-right: 130px;
        margin-top: 10px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    a{ margin-right: 30px;
        padding: 10px;
        text-align: justify;
        text-decoration: none;

    }

    button{
        right: 10px;
        font-family: Arial, Helvetica, sans-serif;
        width: 320px;
        margin-top: 10px;
        border-radius: 8px;
        font-size: 27px;
        padding: 10px;
        position: relative;
        display: block;
    }

    button img{
        position: relative;
        text-align: justify;
        align-items: center;
        justify-content: center;
        right: 10px;
        height: 20px;
        width: 20px;
    }

    #redessociais{
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        top: 76px;
    }


}