@media (max-width:600px){
  

    section{
        align-items: center;
        text-align: center;
    }

    img{
        margin-top: 10px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    a{ margin-right: 30px;
        padding: 10px;
        text-align: justify;
        text-decoration: none;

    }

    button{
        font-family: Arial, Helvetica, sans-serif;
        width: 400px;
        left: 30px;
        margin-top: 30px;
        border-radius: 8px;
        font-size: 27px;
        padding: 10px;
        position: relative;
        display: block;
    }

    button img{
        position: relative;
        text-align: justify;
        align-items: center;
        justify-content: center;
        right: 70px;
        height: 20px;
        width: 20px;
    }

    #redessociais{
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        top: 130px;
    }


}